/app.json
/datamigration.py
/presigned_url.py
/upload_bucket.py
/utils/aioCacheUtils.py
/.vscode
app.log
.env
converted.py
h3_test.py

__pycache__/
.vscode/
/module/properties/new_controller.py
/module/properties/new_query.py
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
newapp.json
temp.json
cdmx_query.txt
qro_query.txt
qro_report.json
mexico_report.json

logos/
brand_logos__.csv