[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pyjwt = "*"
gunicorn = "*"
flask-cors = "*"
boto3 = "*"
h3 = "*"
googlemaps = "*"
watchtower = "*"
flask-compress = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
